@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  /* Colors */
  --color-linear-gradient-input: #6448fe, #600594;
  --color-red-errors: #ff5252;
  --color-neutral-white: #ffffff;
  --color-neutral-light-grayish-violet: #dedddf;
  --color-neutral-dark-grayish-violet: #8e8593;
  --color-neutral-very-dark-violet: #21092f;

  /* Fonts */
  --font-size: 18px;
  --font-family: 'Space Grotesk', sans-serif;
  --font-weight: 500;
}

*,
*>* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.container {
  display: flex;
  align-items: center;
}

.a-section {
  min-height: 100vh;
  width: 40%;
  background-image: url('./../images/bg-main-desktop.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 100%;
  transform: translate(-50%, -50%);
}

.card-front {
  position: relative;
  transform: translateX(-100px);
}

.card-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#number {
  position: absolute;
  color: var(--color-neutral-white);
  bottom: 5rem;
  left: 1rem;
  letter-spacing: 2px;
}

.card-info {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 3rem;
  display: flex;
  color: var(--color-neutral-white);
  justify-content: space-between;
}

.card-back {
  position: relative;
}

.error {
  border: 2px solid var(--color-red-errors);
}

.msg-error {
  gap: 0;
}

.msg-error::after {
  content: "Campo vacío";
  color: var(--color-red-errors);
  margin-top: .2rem;
}

#cvc {
  position: absolute;
  right: 3.5rem;
  top: 7rem;
  color: var(--color-neutral-light-grayish-violet);
}

.b-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.b-section form {
  display: grid;
  gap: 1rem;
  width: 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

label {
  color: var(--color-neutral-very-dark-violet);
  margin-bottom: .3rem;
  text-transform: uppercase;
}

input {
  padding: .5rem;
  font-size: 18px;
  border: 1px solid var(--color-neutral-dark-grayish-violet);
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-family: var(--font-family);
  color: var(--color-neutral-dark-grayish-violet);
}

input:focus {
  outline-color: #6448fe;
}

.grid-a {
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid-b {
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.grid.d {
  display: flex;
  flex-direction: column;
  grid-column: 1 span;
}

form button {
  grid-column: 2 span;
  font-size: 18px;
  height: 50px;
  color: var(--color-neutral-white);
  border-radius: 6px;
  background: var(--color-neutral-very-dark-violet);
  cursor: pointer;
}

.card-information {
  display: flex;
  grid-column: 2 span;
  gap: 1rem;
}

.input-group div {
  flex-direction: column;
}

.thank {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.thank h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.thank p {
  font-size: 18px;
  color: var(--color-neutral-dark-grayish-violet);
}

.thank button {
  color: var(--color-neutral-white);
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--color-neutral-very-dark-violet);
  cursor: pointer;
}

#card-date {
  display: flex;
  flex-direction: column;
  grid-column: 1 span;
}

#card-date .input-group {
  display: flex;
}

#card-date div input {
  width: 70px;
  margin-inline: .5rem;
  margin-left: 0;
}

#card-cvc {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .card-front .card-container img,
  .card-front,
  .card-back img,
  .card-back {
    width: 300px;
  }

  .card-logo {
    width: 50px;
  }

  #number {
    font-size: 1.1rem;
  }

  #cvc {
    top: 42%;
    right: 12%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .card-front .card-container img,
  .card-front,
  .card-back img,
  .card-back {
    width: 280px;
  }

  .a-section {
    width: 100%;
    min-height: 30vh;
    background-image: url("./../images/bg-main-mobile.png")
  }

  .card {
    flex-direction: column-reverse;
    left: 61%;
    top: 60%;
    gap: 0;
  }

  .card-back {
    transform: translateY(70px);
  }

  .card-front {
    z-index: 100;
  }

  .b-section {
    margin-top: 6rem;
  }
}